body {
    background: url("background.jpeg") no-repeat fixed;
    background-size: 100%;
    background-color: rgba(123, 183, 214, 0.5);
}

#leftFixed {
    /* 固定定位 */
    position: fixed;
    left: 0;
    top: 35%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 12px;
}

#leftFixed img {
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#leftFixed img:hover {
    position: relative;
    left: 3px;
    bottom: 3px;
}